* {
    padding: 0px;
    margin: 0px;
}

body {
    background-image: url(/LandingPage/img/thumb2-.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    color: #fff;
}

.container1 {
    background-color: $background-color;
    width: 700px;
    height: auto;
}

.topLogo {
    width: 190%;
}

.paragraph {
    margin: 8px 8px;
}

.btnEnviar {
    color: $button-color;
    border: 1px solid $button-color;
    &:hover {
        background-color: $button-color;
        color: #fff;
    }
}

.fotter {
    margin-top: 30px;
    margin-bottom: -50px;
}